<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>내 프로필</title>
</head>
<body>
    <a href="{% url write %}">프로필 수정하러 가기</a>
    <h1>내 정보</h1>
    <h3>개인 정보</h3>
    {% for user in userdic %}
        {{blog.realname}}
        {{blog.nickname}}
        {{blog.sex}}
        {{blog.age}}
        {{blog.major}}
        {{blog.studentID}}
    {% endfor %}
    <h3>간단한 자기 소개</h3>
    {% for user in userdic %}
        {{blog.thisisme}}
        {{blog.profilePic}}
    {% endfor %}
    <h3>나의 생활 습관</h3>
    {% for user in userdic %}
        {{blog.sleepT}}
        {{blog.clean}}
        {{blog.cook}}
        {{blog.smoke}}
        {{blog.sleepHabit}}
        {{blog.values}}
    {% endfor %}
    <h3>주거 조건 상세 설정</h3>
    {% for user in userdic %}
        {{blog.budget}}
        {{blog.area}}
    {% endfor %}    
</body>